@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "irs";
  src: url("/fonts/irs/irs.woff"), url("/fonts/irs/irs.woff2");
  font-display: swap;
}

@font-face {
  font-family: "irs-bold";
  src: url("/fonts/irs/irs-bold.woff"), url("/fonts/irs/irs-bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "cinema";
  src: url("/fonts/cinema.ttf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "irs";
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #70707035 transparent;
  }

  .container {
    @apply max-sm:px-3;
  }
}

@layer utilities {
  .font-base {
    font-family: "irs";
  }

  .font-base-bold {
    font-family: "irs-bold";
  }

  .font-title {
    font-family: "cinema";
  }

  .animation-pause {
    animation-play-state: paused;
  }
}

// Layout styls
@layer components {
  .mt-element {
    @apply mt-6 sm:mt-9 lg:mt-12 xl:mt-16;
  }

  .mb-element {
    @apply mb-6 sm:mb-9 lg:mb-12 xl:mb-16;
  }

  .my-element {
    @apply my-6 sm:my-9 lg:my-12 xl:my-16;
  }

  .pt-element {
    @apply pt-6 sm:pt-9 lg:pt-12 xl:pt-16;
  }

  .pb-element {
    @apply pb-6 sm:pb-9 lg:pb-12 xl:pb-16;
  }

  .py-element {
    @apply py-6 sm:py-9 lg:py-12 xl:py-16;
  }

  .mt-title {
    @apply mt-3 sm:mt-4 lg:mt-6 xl:mt-8;
  }

  .row {
    @apply flex items-center;
  }

  .center {
    @apply flex justify-center items-center;
  }
}

// Shared components
@layer components {
  .border-light {
    @apply border-solid border-base-content/10;
  }

  .title {
    @apply font-title row gap-3;
  }

  .title-base {
    @extend .title;
    @apply text-xl lg:text-2xl xl:text-3xl;
  }

  .title-lg {
    @extend .title;
    @apply text-2xl lg:text-3xl xl:text-4xl;
  }

  .title-xl {
    @extend .title;
    @apply text-3xl lg:text-4xl xl:text-5xl;
  }

  .title-2xl {
    @extend .title;
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  .icon-xs {
    @apply size-3;
  }

  .icon-sm {
    @apply size-4;
  }

  .icon {
    @apply size-5;
  }

  .icon-lg {
    @apply size-6;
  }

  .icon-xl {
    @apply size-7;
  }

  .icon-2xl {
    @apply size-8;
  }
}

// Home page styles
@layer components {
  .blured-box {
    @apply blur-3xl opacity-20 size-2/3 absolute top-1/2 -translate-y-1/2 group-data-[theme='light']/html:opacity-35;
  }

  .home-bg-pattern {
    line {
      @apply stroke-base-300;
    }
  }

  .home-articles {
    article:nth-child(2),
    article:nth-child(4),
    article:nth-child(7),
    article:nth-child(9) {
      @apply lg:translate-y-32;
    }
  }
}

// Animations
.tags-animation {
  translate: 100% 0;
  animation: tags-animation 30s linear infinite;
}

@keyframes tags-animation {
  to {
    translate: -100% 0;
  }
}
