@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "irs";
  src: url("/fonts/irs/irs.woff"), url("/fonts/irs/irs.woff2");
  font-display: swap;
}

@font-face {
  font-family: "irs-bold";
  src: url("/fonts/irs/irs-bold.woff"), url("/fonts/irs/irs-bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "cinema";
  src: url("/fonts/cinema.ttf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "irs";
}

@layer utilities {
  .font-base {
    font-family: "irs";
  }

  .font-base-bold {
    font-family: "irs-bold";
  }

  .font-title {
    font-family: "cinema";
  }

  .animation-pause {
    animation-play-state: paused;
  }
}

// Layout styls
@layer components {
  .mt-element {
    @apply mt-6 lg:mt-9 xl:mt-12;
  }

  .mb-element {
    @apply mb-6 lg:mb-9 xl:mb-12;
  }

  .my-element {
    @apply my-6 lg:my-9 xl:my-12;
  }

  .row {
    @apply flex items-center;
  }

  .center {
    @apply flex justify-center items-center;
  }
}

// Icon styles
@layer components {
  .icon-sm {
    @apply w-4 h-4;
  }

  .icon {
    @apply w-5 h-5;
  }

  .icon-lg {
    @apply w-6 h-6;
  }

  .icon-xl {
    @apply w-7 h-7;
  }
}

// Shared components
@layer components {
  .title {
    @apply font-title row gap-3;
  }

  .title-base {
    @extend .title;
    @apply text-3xl;
  }

  .title-lg {
    @extend .title;
    @apply text-4xl;
  }

  .title-xl {
    @extend .title;
    @apply text-5xl;
  }

  .title-2xl {
    @extend .title;
    @apply text-7xl;
  }
}

// Home page styles
@layer components {
  .blured-box {
    @apply blur-3xl opacity-20 w-1/2 h-1/2 absolute;

    &:last-of-type {
      @apply w-full h-full;
    }
  }

  .hero_icons-hover {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.5;
    transition: 0.6s ease all;

    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(-25px) rotateX(10deg) scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }

  .hero_icons-hover-2 {
    @extend .hero_icons-hover;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(-10deg);

    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(-25px) rotateX(-10deg) scale(1);
    }
  }

  .home-articles {
    article:nth-child(even) {
      @apply translate-y-32;
    }
  }

  .home-bg-pattern {
    line {
      @apply stroke-base-300;
    }
  }
}

// Animations
.tags-animation {
  translate: 100% 0;
  animation: tags-animation 30s linear infinite;
}

@keyframes tags-animation {
  to {
    translate: -100% 0;
  }
}
