@tailwind base;
@tailwind components;
@tailwind utilities;

// group-data-[theme='THEME']/html:STYLES

@font-face {
  font-family: "irs";
  src: url("/fonts/irs.woff"), url("/fonts/irs.woff2");
  font-display: swap;
}

@font-face {
  font-family: "kahroba";
  src: url("/fonts/kahroba.woff2");
  font-weight: bold;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "irs";
  font-weight: normal;
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  .container {
    @apply max-sm:px-3;
  }

  .glass {
    backdrop-filter: unset !important;
  }

  .skeleton {
    @apply bg-base-200 rounded-box;
  }
}

@layer utilities {
  .font-title {
    font-family: "kahroba";
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .animation-pause {
    animation-play-state: paused;
  }
}

// Layout
@layer components {
  .mt-element {
    @apply mt-9 lg:mt-12 xl:mt-16;
  }

  .mb-element {
    @apply mb-9 lg:mb-12 xl:mb-16;
  }

  .my-element {
    @apply my-9 lg:my-12 xl:my-16;
  }

  .mt-title {
    @apply mt-6 lg:mt-8 xl:mt-10;
  }

  .pt-element {
    @apply pt-9 lg:pt-12 xl:pt-16;
  }

  .pb-element {
    @apply pb-9 lg:pb-12 xl:pb-16;
  }

  .py-element {
    @apply py-9 lg:py-12 xl:py-16;
  }

  .row {
    @apply flex items-center;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .box-wrapper {
    @apply container row gap-3 sm:flex-wrap sm:justify-center max-sm:pb-3 max-sm:overflow-x-auto;
  }

  .box-wrapper-lg {
    @apply container row gap-3 md:flex-wrap md:justify-center max-md:pb-3 max-md:overflow-x-auto;
  }

  .box-wrapper-xl {
    @apply container row gap-3 lg:flex-wrap lg:justify-center max-lg:pb-3 max-lg:overflow-x-auto;
  }

  // wrapper gap size ==> 0.75rem
  .box-w-1\/2 {
    width: calc(50% - (0.75rem / 2));
  }

  .box-w-1\/3 {
    width: calc(33.3333333% - (0.75rem - 0.75rem / 3));
  }

  .box-w-1\/4 {
    width: calc(25% - (0.75rem - 0.75rem / 4));
  }

  .box-w-1\/5 {
    width: calc(20% - (0.75rem - 0.75rem / 5));
  }

  // for overflow-x-auto
  .slide-box-w {
    min-width: calc(90% - (0.75rem / 2));
    @apply flex-1;
  }

  .slide-w-1\/2 {
    min-width: calc(45% - (0.75rem / 2));
    @apply flex-1;
  }

  .slide-w-1\/3 {
    min-width: calc(31.1111111% - (0.75rem - 0.75rem / 3));
    @apply flex-1;
  }

  .slide-w-1\/4 {
    min-width: calc(22.5% - (0.75rem - 0.75rem / 4));
    @apply flex-1;
  }

  .slide-w-1\/5 {
    min-width: calc(18% - (0.75rem - 0.75rem / 5));
    @apply flex-1;
  }
}

// Shared class
@layer components {
  .border-light {
    @apply border-solid border-base-content/10;
  }
}

// Icons
@layer components {
  .icon-xs {
    @apply size-3;
  }

  .icon-sm {
    @apply size-4;
  }

  .icon {
    @apply size-5;
  }

  .icon-lg {
    @apply size-6;
  }

  .icon-xl {
    @apply size-7;
  }

  .icon-2xl {
    @apply size-8;
  }
}

// Home page
@layer components {
  .blured-box {
    @apply blur-3xl opacity-25 size-3/4 absolute group-data-[theme='light']/html:opacity-40;

    &:nth-child(1) {
      @apply bg-secondary left-28;
    }

    &:nth-child(2) {
      @apply bg-info right-28;
    }
  }

  .home-bg-pattern {
    @apply w-full h-auto;

    line {
      @apply stroke-base-300;
    }
  }

  .tags-animation {
    @apply w-max absolute right-0 lg:group-hover:animation-pause;
    animation: tags-animation 40s linear infinite;

    &:nth-child(2) {
      @apply -translate-x-full;
    }

    & > li {
      @apply inline-block mx-1.5;
    }
  }

  .home-comments {
    @apply box-wrapper-lg mt-title;

    & > div {
      @apply box-w-1/2 h-80 max-md:slide-box-w;
    }

    & > div:nth-child(1),
    & > div:nth-child(4) {
      @apply xl:w-1/2;
    }
  }
}

// About page
@layer components {
  .attribute {
    @apply center border-l border-light w-1/2 h-12 lg:w-1/4 2xl:w-1/5;

    &:nth-child(even) {
      @apply max-lg:border-0;
    }

    &:nth-child(4n) {
      @apply max-2xl:border-0;
    }

    &:nth-child(5n) {
      @apply 2xl:border-0;
    }

    &:last-child {
      @apply border-0;
    }

    & svg {
      @apply size-5 sm:size-6;
    }
  }
}

// Animations
.loading-animation {
  animation: loading-animation 10s ease forwards;
}
@keyframes loading-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

@keyframes tags-animation {
  to {
    translate: 100% 0;
  }
}
